body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: black;
}
.box{
    width: 40vw;
    padding: 2.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: black;
    text-align: center;
    border-top-left-radius: 5vw;
    border: 0.2vw solid #3498db;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 100px;
    font-size: 3vw;
}
.box input[type="email"], .box input[type="password"], .box input[type="text"], .box input[type="number"], .box input[type="tel"], .box textarea{
    border: 0;
    background: none;
    display: block;
    margin: 5% auto;
    text-align: center;
    border: 0.2vw solid #3498db;
    padding: 1vw 1vw;
    width: 75%;
    outline: none;
    color: white;
    border-radius: 3vw;
    transition: 0.255;
}
.box input[type="email"]:focus, .box input[type="password"]:focus{
    width: 80%;
    border-color: #2ecc71;
}
.box input[type="submit"]{
    width: 40%;
    border: 0;
    background: none;
    display: block;
    margin: 1vw auto;
    text-align: center;
    border: 0.2vw solid #2ecc71;
    padding: 1vw 1vw;
    outline: none;
    color: white;
    border-radius: 3vw;
    transition: 0.255;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: #2ecc71;
}
.box input[type="button"]{
    width: 50%;
    border: 0;
    background: none;
    display: block;
    margin: 1.6vw auto;
    text-align: center;
    border: 0.2vw solid #3498db;
    padding: 1vw 1vw;
    outline: none;
    color: white;
    border-radius: 3vw;
    transition: 0.255;
    cursor: pointer;
}
.box input[type="button"]:hover{
    background: #3498db;
}
#profile,#cover{
    display: none;
}
#About{
    resize: none;
    overflow: hidden;
}
#About:focus{
    border-color: #2ecc71;
}
#form2{
    width: 40vw;
}
#form2 input[type="email"]{
    width: 33%;
    display: inline;
}
#form2 input[type="text"]{
    width: 33%;
    display: inline;
}
#form2 input[type="password"]{
    width: 33%;
    display: inline;
}
#form2 input[type="number"]{
    width: 33%;
    display: inline;
}
#form2 input[type="tel"]{
    width: 33%;
    display: inline;
}
#form2 input[type="tel"]:focus{
    width: 40%;
    border-color: #2ecc71;
}
#form2 input[type="number"]:focus{
    width: 40%;
    border-color: #2ecc71;
}
#form2 input[type="password"]:focus{
    width: 40%;
    border-color: #2ecc71;
}
#form2 input[type="text"]:focus{
    width: 40%;
    border-color: #2ecc71;
}
#form2 input[type="email"]:focus{
    width: 40%;
    border-color: #2ecc71;
}
